<div class="row no_margin">
  <div class="col-md-6">
    <div class="row">
      <h2 class="Header">
        <span class="arrow" (click)="location.back()"></span>
        {{publication.name}} - Sub Agent Details </h2>
    </div>
    <div class="right_content">
      <div class="row no_margin">
        <div class="form-group">
          <input #searchBox type="text" (input)="searchSubAgents()" class="form-control" placeholder="Search"
            autocomplete="off">
        </div>
      </div>
      <div class="scrollbar scrollbar-primary">
        <table *ngIf="filteredSubAgents.length" class="table table-striped separate">
          <caption></caption>
          <thead>
            <tr class="tbl_header">
              <th scope="col" *ngFor="let displayColumn of displayColumns">{{displayColumn}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tbl_row" *ngFor="let subAgent of filteredSubAgents" (click)="selectSubAgent(subAgent)">
              <td>{{subAgent.name}}</td>
              <td>{{subAgent.code}}</td>
              <td>{{subAgent.edition}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!filteredSubAgents.length">
          No data available!
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 padding_top">
    <app-copy-type *ngIf="selectedSubAgent" [selectedSubAgent]="selectedSubAgent"></app-copy-type>
  </div>
</div>